<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmartHomeUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SmartHomeUI.Properties.Settings>
      <setting name="工作日开锅时间" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="节假日开锅时间" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="女儿起床时间" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="女儿睡觉时间" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="给父母发短信时间" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="父母手机号" serializeAs="String">
        <value />
      </setting>
      <setting name="开启空调的温度" serializeAs="String">
        <value>28</value>
      </setting>
      <setting name="关闭空调的温度" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="工作日开热水器时间" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="节假日开热水器时间" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="锅工作分钟数" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="热水器工作分钟数" serializeAs="String">
        <value>30</value>
      </setting>
    </SmartHomeUI.Properties.Settings>
  </userSettings>
</configuration>